<div class="products">
  <%= render "web/home/carousel" %>

  <div class="product-container">
    <% @products.each do |product| %>
      <div class="product">
        <img src="<%= product.images.sample.url %>" alt="<%= product.name %>">

        <div class="product-description">

          <p class="product-name">
            <%= product.name %>
          </p>

          <p class="product-description-text">
            <%= product.description %>
          </p>

          <p class="product-price">
            <%= number_to_currency(product.price, unit: "R$ ", separator: ",", delimiter: ".") %>
          </p>


          <div class="product-materials">
            <% product.subcategories.each do |subcategory| %>
              <span class="product-material">
                <%= subcategory.name %>
              </span>
            <% end %>
          </div>
        </div>

        <div class="product-button-container">
          <button class="product-button">
            Adicionar ao carrinho
          </button>
        </div>
      </div>
    <% end %>
  </div>
</div>
