<div class="products">
  <%= render "web/home/carousel" %>

  <div class="product-container">
    <% @products.each do |product| %>
      <% cache product do %>
        <div class="product">
          <img src="<%= product.images.sample.url %>" alt="<%= product.name %>">

          <div class="product-description">

            <p class="product-name">
              <%= product.name %>
            </p>

            <p class="product-description-text">
              <%= product.description %>
            </p>

            <p class="product-price">
              <%= number_to_currency(product.price, unit: "R$ ", separator: ",", delimiter: ".") %>
            </p>


            <div class="product-materials">
              <% product.subcategories.each do |subcategory| %>
                <span class="product-material">
                  <%= subcategory.name %>
                </span>
              <% end %>
            </div>
          </div>

          <div class="product-button-container">
            <%= form_with url: web_cart_items_path, method: :post do |form| %>
              <%= form.hidden_field :product_id, value: product.id %>
              <%= form.submit "Adicionar ao carrinho", class: "product-button", disabled: product.in_stock == 0 %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
